<%- include('partials/header') %>

<div class="container">
<br> 

<div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Add Scheme</h4>

	<form>
	<div class="form-group input-group">
        <input name="" class="form-control" placeholder="Scheme Name" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <input name="" class="form-control" placeholder="Scheme info" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
		<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+971</option>
		</select>
    	<input name="" class="form-control" placeholder="Scheme id" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> <!-- form-group end.// -->
    <div class="form-group input-group">
        <input class="form-control" placeholder="scheme link" type="text">
    </div> <!-- form-group// -->
    <!-- <div class="form-group input-group">
        <input class="form-control" placeholder="Repeat password" type="password">
    </div> <!-- form-group// -->                                       -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> add Scheme  </button>
    </div> <!-- form-group// -->      
                                                                  
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>
   
<%- include('partials/admin-footer') %>