<%- include('partials/header2') %>
<h1 class="apply-thanks">You are Already Registered</h1>
<h2 class="apply-registered">Your Application ID is <%= application[0].ApplicationNumber%></h2>
<%- include('partials/footer') %>
