<%- include('partials/header2') %>
<h1 class="apply-thanks">Your application is already recieved in this scheme</h1>
<h2 class="apply-registered">Your Application ID is <%= application[0].ApplicationNumber%></h2>
<%- include('partials/footer') %>
