<%-include('partials/header')%>

<div class="errormsg container">
    <div class="">
        <div class="p-3 bg-light border rounded-3">
            <h2>Thank You!</h2>
            <p>You have been successfully signed up to our newsletter, look forward to lots of awesome contents</p>
        </div>
    </div>
</div>
</div>
<%-include('partials/footer')%>
