<%- include('partials/header2') %>


<section id="hero-animated" class="hero-animated align-items-center">
  <div class="container-fluid" style="padding: 0% 10% 0% 10%;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/slide1.jpeg" class="d-block w-100" alt="Display Image" />
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>First slide label</h5> -->
            <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </div>
        <!-- <div class="carousel-item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div> -->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
    data-aos="zoom-out">
    <!-- <img src="/img/hero-carousel/hero1.jpg" class="img-fluid animated"> -->
    <h2 style="padding-top: 50px;">Welcome to <span>Jansuvidha</span></h2>
    <!-- <p></p> -->
    <!-- <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div> -->
    <div class="d-flex">
      <a href="/user/schemes" class="btn-get-started scrollto">Find Schemes</a>
    </div>
  </div>
</section>

<main id="main">


  <!-- ======= Featured Scheme Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container">

      <div class="section-header">
        <h2>Scheme Category</h2>
      </div>
      <div class="row gy-2">
        <div class="col-sm-6 col-md-4 col-6" data-aos="zoom-out">
          <div class="service-item position-relative">
            <div class="icon"><i class="fa-solid fa-user-graduate"></i></div>
            <div>
              <h4><a href="/allschemes" class="stretched-link">Education & Learning</a></h4>
              <p>5 schemes</p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-sm-6 col-md-4 col-6" data-aos="zoom-out" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="fa-solid fa-hospital-user"></i></div>
            <div>
              <h4><a href="/allschemes" class="stretched-link">Health & Wellness</a></h4>
              <p>8 schemes</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-sm-6 col-md-4 col-6" data-aos="zoom-out" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="fa-solid fa-building-columns"></i></div>
            <div>
              <h4><a href="/allschemes" class="stretched-link">Banking,Financial Services and Insurance</a></h4>
              <p>4 schemes</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-sm-6 col-md-4 col-6" data-aos="zoom-out" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon"><i class="fa-sharp fa-solid fa-tractor"></i></div>
            <div>
              <h4><a href="/allschemes" class="stretched-link">Agriculture,Rural & Environment</a></h4>
              <p>3 schemes</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-sm-6 col-md-4 col-6" data-aos="zoom-out" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="fa-sharp fa-solid fa-angles-right fa-xl"></i></div>
              <div>
                <!-- <h4><a href="" class="stretched-link"> View all schemes</a></h4> -->
                <h4><a href="/allschemes" class="btn-getstarted stretched-link">View all Schemes</a></h4>
                <!-- <p>3 schemes</p> -->
              </div>
            </div>
        </div><!-- End Service Item -->
      </div>

    </div>
  </section><!-- End Featured Services Section -->


  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About Us</h2>
        <!-- <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas
        asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p> -->
      </div>

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6">
          <div class="about-img">
            <img src="https://gil.gujarat.gov.in/Media/DocumentUpload/12052022_595_315.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-6">
          <!-- <h3 class="pt-0 pt-lg-5">Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero
          </h3> -->
          <!-- myScheme is a National Platform that aims to offer one-stop search and discovery of the Government schemes. -->

          <!-- It provides an innovative, technology-based solution to discover scheme information based upon the eligibility of the citizen. -->



          <!-- Tabs -->
          <!-- <ul class="nav nav-pills mb-3">
          <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Saepe fuga</a></li>
        </ul>End Tabs -->

          <!-- Tab Content -->
          <!-- <div class="tab-content"> -->

          <div class="tab-pane fade show active" id="tab1">

            <h4 class="fst-italic">Jan Suvidha portal is goverment site that aims to offer one-stop search and discovery of the Government
              schemes.</h4>

            <div class="fst-italic d-flex align-items-center mt-4">
              <h4>It provides an innovative, technology-based solution to discover scheme information based upon the
                eligibility of the citizen.</h4>
            </div>

            <div class="fst-italic d-flex align-items-center mt-4">
              <h4>The platform helps the citizen to find the right Government schemes for them. It also guides on how
                to apply for different Government schemes. Thus no need to visit multiple Government websites.</h4>
            </div>
            <!-- <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure
                molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et
                perferendis.</p> -->
          </div>

          <!-- </div> -->
          <!-- End Tab Content -->

        </div>

      </div>

    </div>
  </section>
  <!-- ======= End About Section -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>How it works</h2>
        <p>Easy steps to apply Government Schemes.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="pricing-item text-center ">
            <div class="pricing-header ">
              <h3>Step 1</h3>
            </div>
            <div style="padding-top:20% ;">
              <div class="icon col-12">
                <i class="fa-solid fa-keyboard fa-4x "></i>
              </div>
              <span>Enter details</span>
            </div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
          <div class="pricing-item text-center ">
            <div class="pricing-header ">
              <h3>Step 2</h3>
            </div>
            <div style="padding-top:20% ;">
              <div class="icon col-12">
                <i class="fa-solid fa-magnifying-glass fa-4x"></i>
              </div>
              <span>Find Schemes</span>
            </div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
          <div class="pricing-item text-center ">
            <div class="pricing-header ">
              <h3>Step 3</h3>
            </div>
            <div style="padding-top:20% ;">
              <div class="icon col-12">
                <i class="fa-solid fa-rss fa-4x" ></i>
              </div>
              <span>Apply for schemes</span>
            </div>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content px-xl-5">
            <h3>Frequently Asked <strong>Questions</strong></h3>
            <p>
              Checkout our knowledge base for some of your answers!
            </p>
          </div>

          <div class="accordion accordion-flush px-xl-5" id="faqlist">

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  <i class="bi bi-question-circle question-icon"></i>
                  What is JanSuvidha?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  JanSuvidha is an e-Marketplace for Govt. schemes and services. Using JanSuvidha you can find various
                  government schemes, check your eligibility, and apply for the schemes.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  <i class="bi bi-question-circle question-icon"></i>
                  How Jan Suvidha will help common citizens?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  JanSuvidha will reduce the time and effort of citizens in searching for appropriate government
                  schemes.The easy user interface of myScheme helps common people a lot in discovering and applying for
                  schemes.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  <i class="bi bi-question-circle question-icon"></i>
                  What all information about a particular scheme can I find on JanSuvidha ?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  JanSuvidha provides details on the eligibility criteria, application process, and benefits being
                  offered
                  under that scheme. JanSuvidha also answers the Frequently Asked Questions(FAQs) about the scheme.
                </div>
              </div>
            </div><!-- # Faq item-->

            <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-4">
                  <i class="bi bi-question-circle question-icon"></i>
                  Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  <i class="bi bi-question-circle question-icon"></i>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                  donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque
                  elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div> # Faq item-->

            <!-- <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-5">
                  <i class="bi bi-question-circle question-icon"></i>
                  Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                </button>
              </h3>
              <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in.
                  Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                  Purus gravida quis blandit turpis cursus in
                </div>
              </div>
            </div>  -->
            <!-- # Faq item -->

          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style='background-image: url("assets/img/faq.jpg");'>&nbsp;</div>
      </div>

    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-header">
        <h2>Contact Us</h2>
        <!-- <p>Ea vitae aspernatur deserunt voluptatem impedit deserunt magnam occaecati dssumenda quas ut ad dolores
          adipisci aliquam.</p> -->
      </div>

    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.795843871923!2d70.9367043150077!3d20.718513286167312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be31d322e444609%3A0x77ec7c0f229a6f5b!2sIIIT-Vadodara%20-%20International%20Campus%20Diu%20(IIITV-ICD)!5e0!3m2!1sen!2sin!4v1667286105362!5m2!1sen!2sin"
        frameborder="0" allowfullscreen></iframe>
    </div><!-- End Google Maps -->

    <div class="container">

      <div class="row gy-5 gx-lg-5">

        <div class="col-lg-4">

          <div class="info">
            <h3>Get in touch</h3>
            <!-- <p>Et id eius voluptates atque nihil voluptatem enim in tempore minima sit ad mollitia commodi minus.</p> -->

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>IIITV-ICD, Diu, Gujarat</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<script>
  function menuToggle() {
    const toggleMenu = document.querySelector(".menu");
    toggleMenu.classList.toggle("active");
  }
</script>

<%- include('partials/footer') %>